.headerContainer {
  padding: 2rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: black;
}

.vau {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.vau a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.btnSignUp {
  background-color: #2acfcf;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btnSignUp:hover {
  background-color: #9be3e2;
}

.burgerMenu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.mobileMenu {
  display: none;
}

/* Контейнер */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* ======== АДАПТИВ ======== */
@media (max-width: 768px) {
  .navbar,
  .vau {
    display: none;
  }

  .burgerMenu {
    display: block;
    color: #9e9aa7;
  }

  /* открытое мобильное меню */
  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3054;
    border-radius: 10px;
    padding: 2rem 1rem;
    gap: 1.5rem;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    z-index: 100;
  }

  .mobileMenu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .mobileMenu .divider {
    width: 100%;
    height: 1px;
    background: #4b3f6b;
    margin: 0.5rem 0;
  }

  .mobileMenu .login {
    color: white;
  }

  .mobileMenu .btnSignUp {
    width: 100%;
    text-align: center;
    background-color: #2acfcf;
    color: white;
  }
}
