.statistics {
  padding: 4rem 0;
  text-align: center;
}

.statsIntro h2 {
  font-size: 2rem;
  font-weight: 700;
}

.statsIntro p {
  color: #817e87;
  max-width: 500px;
  margin: 1rem auto;
}

.statsCards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  position: relative;
  background-image: url("../../assets/images/liniya.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  flex: 1;
  background: #f3f3f3;
  padding: 2rem;
  border-radius: 8px;
  text-align: left;
  position: relative;
}

.card:nth-child(2) {
  margin-top: 2rem;
}

.card:nth-child(3) {
  margin-top: 4rem;
}

.icon {
  width: 88px;
  height: 88px;
  background-color: #4d3d74;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -30px;
}

.card h3 {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.card p {
  color: #121212;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .statsCards {
    flex-direction: row;
  }
}
