.boost {
  background-color: #3b3054;
  color: white;
  padding: 4rem 0;
  text-align: center;
  background-image: url("../../assets/images/krugi.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.boost h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btnCta {
  background-color: #2acfcf;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
}
